<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>My personal Web</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<script>
function update() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("hidden1").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "ajax_info", true);
  xhttp.send();
}
</script>

  <body>
    <body>
      {% block content %}
      <div class='top'>
      <h1>Video-Films Web Project</h1>
      </div>
    <div class="main">
      <div class="menu">
        <h1>Menu Principal</h1>
        {% if registrado == 0 %}
        <a href="{{ url_for('index') }}"><img src="../static/imagenes/home.png" alt="shop" style="width:18px;height:18px"> Home </a>
        <br>
        <a href="{{ url_for('login') }}"><img src="../static/imagenes/login.png" alt="shop" style="width:18px;height:18px"> Sign In </a>
        <br>
        <a href="{{ url_for('Sign_up') }}"><img src="../static/imagenes/register.png" alt="shop" style="width:18px;height:18px"> Sign Up </a>
        <br>
          <a href="{{ url_for('search') }}"><img src="../static/imagenes/search.png" alt="shop" style="width:18px;height:18px"> Search </a>
        {% else %}
        <a href="{{ url_for('index') }}"><img src="../static/imagenes/home.png" alt="shop" style="width:18px;height:18px"> Home </a>
        <br>
        <a href="{{ url_for('Sign_out') }}"><img src="../static/imagenes/login.png" alt="shop" style="width:18px;height:18px"> Sign out </a>
        <br>
          <a href="{{ url_for('search') }}"><img src="../static/imagenes/search.png" alt="shop" style="width:18px;height:18px"> Search </a>
        <br>
          <a href="{{ url_for('Profile') }}"><img src="../static/imagenes/settings.png" alt="shop" style="width:18px;height:18px"> Profile </a>
        {% endif %}
      </div>
      <div class="row">
        <div class="column">
          <h3>Username: {{info[0][0]}}</h3>
          <br>
          <h3>Name: {{info[0][1]}}</h3>
          <br>
          <h3>Surname 1: {{info[0][2]}}</h3>
          <br>
          <h3>Surname 2: {{info[0][3]}}</h3>
        </div>
        <div class="column">
          <h3>Email: {{info[0][5]}}</h3>
          <br>
          <h3>Phone: {{info[0][6]}}</h3>
          <br>
          <h3>Age: {{info[0][4]}}</h3>
        </div>
        <div class="column">
          {% if info[0][7] %}
          <h1>Add money to your account</h1>
          <h3>Credit Card: </h3>
          <h3>Salary: </h3>
            <input type="text" name="salary" value="">
            <input type="submit" name="boton" value="Add Money">
          {% else %}
          <h1>Add a credit car for buy films/series</h1>
            <input type="text" name="salary" value="">
            <input type="submit" name="boton" value="Add Credit Card" onclick="update()">
          <h3 id="hidden1"> </h3>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="foot">
    <h1>By Jorge Hernán</h1>
    </div>
    {% endblock %}
    </body>
  </body>
</html>
